.twoRankedBox{
    margin:6px 8px;
    overflow: hidden;
    padding-bottom:25px;
}
.twoRankedBox ul{
    width:49%;
    float: left;
}
.twoRankedBox ul:last-child{
    margin-left:1%;
}
.twoRankedBox ul li{
    margin-bottom:20px;
    background-color: #FFFFFF;

    list-style: none;

    -moz-box-shadow:3px 3px 3px #000;
    -webkit-box-shadow:3px 3px 3px #000;
    box-shadow:3px 3px 3px #000;
}

.twoRankedBox ul li:before{
    content: none;
}